**/node_modules/
yarn-error.log
yarn-debug.log
package-lock.json
yarn.lock

dist/
build/

.env
.env.*.local

logs/
*.log
*.log.*

.DS_Store
Thumbs.db

.vscode/
.idea/
*.sublime-workspace
*.sublime-project

docker-compose.override.yml

migrations/*.ts
migrations/*.js

